<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="output" default="screen"/>

    <param name="use_sim_time" value="true" />

    <node name="slam_toolbox"
          pkg="slam_toolbox"
          type="async_slam_toolbox_node"
          output="$(arg output)" >
        <rosparam file="$(find carmen_publisher)/config/slam_toolbox_online_async.yaml" />
    </node>

	<node name="$(anon rosbag_player)"
	      pkg="rosbag"
	      type="play"
	      required="true"
	      output="$(arg output)"
	      args="/home/enrico/ds/performance_modelling/radish_datasets/dataset/fr079/data/real_data/fr079_laserodom.bag --clock"
    />

	<node name="$(anon rosbag_recorder)"
	      pkg="rosbag"
	      type="record"
	      output="$(arg output)"
	      args="-o /home/enrico/ds/performance_modelling/output/radish_exp/st_modified_odom_not_corrected_laserodom/st_fr079 /scan /odom /tf /tf_static /map /map_updates /map_metadata /slam_toolbox/karto_graph_visualization /slam_toolbox/update /slam_toolbox/update_full"
    />

    <node name="rviz"
          pkg="rviz"
          type="rviz"
          output="$(arg output)"
          args="-d /home/enrico/ds/performance_modelling/radish_datasets/dataset/fr079/data/r.rviz"
    />

</launch>
